.about-intro {
    height: 650px;
    border-bottom: 2px solid $brown;
    .about-intro-content {
        background-image: url(../images/kop-club-slide-3.jpg);
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: center;
        height: 100%;
        @media(max-width: 800px) {
            background-position: center;
            background-size: cover;
        }
        .about-intro-cover {
            height: 100%;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
            background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            .container {
                height: 100%;
                position: relative;
            }
            .kop-club-slide-fixed-block-trace {
                top: 110px;
                left: -130px;
                @media(max-width: 800px) {
                    display: none;
                }
            }
            .about-intro-text-block {
                position: absolute;
                bottom: 150px;
                padding: 0;
                @media(max-width: 800px) {
                    max-width: 400px;
                    bottom: 200px;
                }
                @media(max-width: 500px) {
                    max-width: 320px;
                    bottom: 150px;
                }
                @media(min-width: 801px) {
                    &:before {
                        content: '';
                        display: block;
                        background-image: url(../images/about-bar.png);
                        width: 286px;
                        height: 406px;
                        position: absolute;
                        left: -250px;
                        top: -80px;
                    }
                }
                .about-intro-text-title {
                    font-family: $trajan;
                    color: $redSlider;
                    font-size: 60px;
                }
                .about-intro-text-info {
                    font-family: $omnes;
                    color: $closeModal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 26px;
                    .about-intro-text-span {
                        color: $white;
                        font-weight: 500;
                    }
                }
            }
            .gold-bright {
                right: 110px;
                // top: 90px;
                top: -20px;
                @media(max-width: 800px) {
                    display: none;
                }
            }
            .bright-front {
                z-index: 10;
            }
            .dark-bright {
                // bottom: -180px;
                bottom: -80px;
            }
        }
    }
}
.experience-block {
    position: relative;
    background-color: $black;
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #fff;
    .container {
        display: flex;
        align-items: center;
        @media(max-width: 800px) and (min-width: 501px) {
            align-items: center;
        }
        @media(max-width: 500px) {
            flex-direction: column;
        }
    }
    .experience-title-block {
        padding: 0;
        @media(max-width: 500px) {
            margin-bottom: 30px;
        }
        .experience-title {
            font-family: $trajan;
            font-size: 35px;
            line-height: normal;
            color: $closeModal;
            .experience-title-span {
                color: $brown
            }
        }
    }
    .experience-trace {
        position: absolute;
        width: 188px;
        height: 322px;
        background-image: url(../images/slide-trace.png);
        left: calc(50% - 64px);
        top: 30px;
        @media(max-width: 800px) {
            display: none;
        }
    }
    .experience-info-block {
        .experience-info-text {
            font-family: $omnes;
            font-weight: 300;
            color: $closeModal;
            line-height: normal;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        .experience-bold {
            font-weight: 600;
        }
    }
    .gold-bright {
        top: 10px;
        right: 10px;
        @media(max-width: 800px) {
            display: none;
        }
    }
}
.goals-block {
    .goals-top-cover {
        height: 310px;
        background-image: url(../images/lingua-de-gato.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media(max-width: 500px) {
            height: 150px;
        }
    }
    .goals-info-block {
        background-color: $redSlider;
        position: relative;
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media(max-width: 500px) {
                flex-direction: column;
            }
        }
        .goal-info-trace {
            position: absolute;
            width: 255px;
            height: 336px;
            background-image: url(../images/goal-info-trace.png);
            &:nth-child(1) {
                left: 0;
                @media(max-width: 1100px) {
                    display: none;
                }
                @media(min-width: 1300px) and (max-width: 1500px) {
                    left: 100px;
                }
                @media(min-width: 1800px) {
                    left: 16%;
                }
                @media(min-width: 2200px) {
                    left: 22%;
                }
                @media(min-width: 2400px) {
                    left: 640px;
                }
            }
            &:nth-child(3) {
                left: calc(50% - 250px);
                @media(max-width: 1100px) {
                    display: none;
                }
                @media(min-width: 1800px) {
                    left: 36%;
                }
                @media(min-width: 2200px) {
                    left: 39%;
                }
                @media(min-width: 2300px) {
                    left: 1020px;
                }
            }
            &:nth-child(5) {
                left: calc(80% - 250px);
                @media(max-width: 1100px) {
                    display: none;
                }
                @media(min-width: 1300px) and (max-width: 1500px) {
                    left: 840px;
                }
                @media(min-width: 1800px) {
                    left: 56%;
                }
                @media(min-width: 2300px) {
                    left: 1400px;
                }
            }
            @media(max-width: 800px) {
                display: none;
            }
        }
        .goal-info-item {
            margin-left: 80px;
            padding: 100px 15px 90px;
            @media(max-width: 1400px) {
                padding: 100px 5px 90px;
            }
            @media(max-width: 1100px) {
                margin-left: 0px;
            }
            @media(max-width: 800px) {
                margin-left: 0;
                padding: 30px 5px 30px;
                &:last-of-type {
                    padding-bottom: 50px;
                }
            }
            @media(max-width: 500px) {
                padding: 50px 5px 0px;
            }
            .goal-info-title {
                font-family: $trajan;
                font-size: 48px;
                color: $white;
                margin-bottom: 15px;
                @media(max-width: 1400px) {
                    font-size: 40px;
                }
                @media(max-width: 800px) {
                    font-size: 30px;
                }
            }
            .goal-info-text {
                font-family: $omnes;
                font-weight: 300;
                color: $white;
                line-height: normal;
            }
            &:first-of-type {
                &:before {
                    top: -20px;
                }
            }
            &:before {
                content: '';
                display: block;
                background-image: url(../images/goal-info-trace.png);
                width: 255px;
                height: 336px;
                position: absolute;
                top: 0%;
                left: -170px;
                @media(max-width: 800px) {
                    display: none;
                }
            }
            
        }
    }
}
.register-block-about {
    .register-block-cover {
        .container {
            .gold-bright {
                top: -50px;
            }
        }
    }
}