@keyframes float {
    0%   {
        -webkit-transform: translateY(calc(0% - 107px));
        transform: translateY(calc(0% - 107px));
    }
    50%  {
        -webkit-transform: translateY(calc(0% - 117px));
        transform: translateY(calc(0% - 117px));
    }
    100% {
        -webkit-transform: translateY(calc(0% - 107px));
        transform: translateY(calc(0% - 107px));
    }
  }

  @mixin animation-mixin($name, $from, $to) {
    @keyframes #{$name} {
      0% {transform: translateY($from); -webkit-transform: translateY($from);}
      50% {transform: translateY($to); -webkit-transform: translateY($to);}
      100% {transform: translateY($from); -webkit-transform: translateY($from);}
    }
  }