/*====CURSORS====*/

/*--Example 1--*/

.your-cursor1 {
    position: absolute;
    background-color: $transparent;
    border: 2px solid $brown;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    transition: transform 0.5s;
    @media(max-width: 800px) {
      display: none;
    }
    &.active {
      opacity: 1;
      transform: scale(2);
      transition: transform 0.5s;
      border: 1px solid $brown;
    }
    &.hovered {
      opacity: 0.08;
    }
  }
  
  /*--Example 2--*/
  
  .your-cursor2 {
    position: absolute;
    background-color: aqua;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    &.active {
      opacity: 0.5;
      transform: scale(0);
    }
    &.hovered {
      opacity: 0.08;
    }
  }
  
  .follow2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);
    &.active {
      opacity: 0.7;
      transform: scale(3);
    }
    &.hovered {
      opacity: 0.08;
    }
  }
  
  /*--Example 3--*/
  
  .your-cursor3 {
    position: absolute;
    background-color: deeppink;
    width: 20px;
    height: 20px;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    &.active {
      border-radius: 100%;
      width: 18px;
      height: 18px;
      transition: .3s ease;
    }
    &.hovered {
      opacity: 0.08;
    }
  }
  
  /*--Example 4--*/
  
  .your-cursor4 {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    background-color: gold;
    z-index: 5;
    &:nth-child(2) {
      background-color: gold;
      z-index: 10;
      width: 20px;
      height: 20px;
    }
    &:nth-child(3) {
      background-color: gold;
      z-index: 7;
      width: 6px;
      height: 6px;
    }
  }
  
  /*====STYLING====*/
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
  
  * {
    cursor: none;
    @media(max-width: 800px) {
      cursor: unset;
    }
  }