.fale-conosco-main {
    margin-top: 40px;
    .row {
        align-items: center;
    }
}
.fale-conosco-kop-bg {
    margin-left: 8.88%;
    max-width: 50%;
    width: 100%;
    background-image: url(../images/fale-conosco.jpg);
    background-size: cover; 
    height: 775px;
    background-repeat: no-repeat; 
    background-position: center;
    @media(max-width: 800px) {
        display: none;
    }
}
.fale-conosco-text-block {
    margin-left: 40px;
    max-width: 300px;
    width: 100%;
    padding: 0;
    @media(max-width: 800px) {
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
    @media(max-width: 500px) {
        max-width: 100%;
        width: 80%;
        margin: auto;
    }
    .fale-conosco-title {
        font-family: $trajan;
        font-size: 28px;
        color: $productTitle;
        margin-bottom: 35px;
    }
    .fale-conosco-info-text {
        font-family: $omnes;
        color: $greyFooter;
        margin-bottom: 45px;
        line-height: normal;
        font-size: 16px;
        .info-text-span {
            color: $greyButtonSlider;
            font-weight: 600;
        }
    }
    .modal-body-text-bold {
        font-family: $omnes;
        font-size: 18px;
        font-weight: 500;
        color: $greyFooter;
        margin-bottom: 40px;
    }
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $greyInputBorder;
    font-size: 16px;
    font-family: $omnes;
    font-weight: 300;
    color: $brown;
    padding-bottom: 10px;
    margin-bottom: 28px;
    &::placeholder {
        color: $brown;
        transition: font-size 0.3s;

    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $brown;
        transition: font-size 0.3s;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $brown;
        transition: font-size 0.3s;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $brown;
        transition: font-size 0.3s;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $brown;
        transition: font-size 0.3s;
    }
    &:focus {
        outline: none;
        &::placeholder {
            font-size: 80%;
            transition: font-size 0.3s;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 80%;
            transition: font-size 0.3s;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-size: 80%;
            transition: font-size 0.3s;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            font-size: 80%;
            transition: font-size 0.3s;
        }
        &:-moz-placeholder { /* Firefox 18- */
            font-size: 80%;
            transition: font-size 0.3s;
        }
    }
}
.step-block-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .sm-btn-line, .lg-btn-line {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .sm-btn-line {
        margin-top: 36px;
        @media(min-width: 501px) {
            margin-bottom: 36px;
        }
        @media(max-width: 500px) {
            margin-bottom: 26px;
        }
        .step-btn-sm-link {
            max-width: 47%;
            width: 100%;
            &:hover {
                text-decoration: none;
            }
            .step-btn-sm {
                width: 100%;
            }
        }
    }
    .step-btn {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 1px solid $brown;
        color: $brown;
        font-family: $omnes;
        font-weight: 400;
        min-height: 45px;
        transition: .3s;
        &:hover {
            background-color: $brown;
            opacity: 0.8;
            transition: .3s;
            color: $white;
        }
    }
    .step-btn-lg-link {
        width: 100%;
        &:hover {
            text-decoration: none;
        }
        .step-btn-lg {
            max-width: 100%;
            width: 100%;
        }
    }
    .step-btn-lg {
        max-width: 100%;
        width: 100%;
    }
}
#step2 {
    display: none;
}