@font-face {
    font-family: 'Omnes';
    src: url(../fonts/Omnes/omnes-regular-webfont.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Omnes';
    src: url(../fonts/Omnes/omnes-semibold-webfont.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Omnes';
    src: url(../fonts/Omnes/omnes_extralight-webfont.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Omnes';
    src: url(../fonts/Omnes/omnes_light-webfont.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Omnes';
    src: url(../fonts/Omnes/omnes_medium-webfont.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Trajan Pro';
    src: url(../fonts/TrajanPro/Trajan_Pro_Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Trajan Pro';
    src: url(../fonts/TrajanPro/Trajan_Pro_Regular.ttf);
    font-weight: 400;
}
$omnes: 'Omnes';
$trajan: 'Trajan Pro';