@import 'variables.scss';
@import 'fonts.scss';
footer {
    border-top: 15px solid $white;
    position: relative;
    .kp-info {
        background-color: $greyTopFooter;
        .container {
            .row {
                padding-top: 17px;
                padding-bottom: 32px;
                .footer-logo-kp {
                    @media(max-width: 650px) {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                    }
                }
                .footer-menu-kp {
                    display: flex;
                    justify-content: center;
                    @media(max-width: 650px) {
                        justify-content: flex-start;
                        max-width: 300px;
                        width: 100%;
                        margin: auto;
                        padding: 0;
                        &:not(:last-child) {
                            margin-bottom: 40px;
                        }
                    }
                    .footer-list {
                        .footer-list-title,.footer-list-item {
                            font-family: $omnes;
                            font-weight: 300;
                        }
                        .footer-list-title {
                            font-size: 16px;
                            color: $white;
                            margin-bottom: 30px;
                        }
                        .footer-list-item {
                            a {
                                font-size: 14px;
                                color: $greyFooter;
                            }
                            &:not(:last-child){
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
                .footer-app {
                    margin-right: 8.333333%;
                    @media(max-width: 500px) {
                        max-width: 300px;
                        width: 100%;
                        padding: 0;
                        margin: auto;
                    }
                    .footer-app-list-title {
                        font-family: $omnes;
                        color: $greyFooter;
                        font-weight: 300;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                    .footer-app-list {
                        display: flex;
                        .footer-app-list-item {
                            &:not(:last-of-type) {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .info-copy {
        background-color: $black;
        color: $greyFooter;
        font-family: $omnes;
        font-size: 12px;
        padding-bottom: 13px;
        padding-top: 13px;
        .container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @media(max-width: 800px) {
                flex-direction: column-reverse;
            }
            .copy-block {
                padding: 0;
                @media(max-width: 800px) {
                    max-width: 90%;
                }
                @media(max-width: 500px) {
                    max-width: 300px;
                    margin: auto;    
                }
            }
            .info-block {
                margin-right: 8.333333%;
                @media(max-width: 800px) {
                    max-width: 90%;
                    padding: 0;
                    margin: 20px 0 20px 0;
                }
                @media(max-width: 500px) {
                    max-width: 300px;
                    margin: 20px auto 20px auto;                 
                }
                .info-block-content {
                    ul {
                        li {
                            text-align: right;
                            @media(max-width:800px) {
                                text-align: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}