.advantage-block {
    position: relative;
    z-index: 1;
    background-color: $black;
    border-bottom: 2px solid $brown;
    &:focus {
        outline: none !important;
    }
    .dark-bright {
        bottom: 0;
        left: 250px;
        z-index: 1;
        max-width: 330px;
        // @include animation-mixin(float-dark-advantage, 80px, 60px);
        // animation: float-dark-advantage 4s ease infinite;
    }
    .gold-bright {
        z-index: 1;
        right: 140px;
        top: -10px;
        // @include animation-mixin(float-gold-advantage, 0, 10px);
        // animation: float-gold-advantage 4s ease infinite;
    }
    .kop-club-slide {
        &:focus {
            outline: none !important;
        }

        .kop-club-slide-item {
            height: 650px;
            @media(max-width:650px) {
                height: 500px;
            }
            &:focus {
                outline: none !important;
            }
            .slide-cover {
                height: 100%;
                &:focus {
                    outline: none !important;
                }
            }
        }
        .slick-slide:nth-child(1) {
            background-image: url(../images/kop-club-slide-1.jpg);
            background-position: bottom;
            background-size: cover;
        }
        .slick-slide:nth-child(2) {
            background-image: url(../images/kop-club-slide-2.jpg);
            background-position: bottom;
            background-size: cover;
        }
        .slick-slide:nth-child(3) {
            background-image: url(../images/kop-club-slide-3.jpg);
            background-position: bottom;
            background-size: cover;
        }
        .slick-slide:nth-child(4) {
            background-image: url(../images/kop-club-slide-4.jpg);
            background-position: bottom;
            background-size: cover;
        }
        .slick-slide:nth-child(5) {
            background-image: url(../images/kop-club-slide-5.jpg);
            background-position: bottom;
            background-size: cover;
        }
        .slick-slide:nth-child(6) {
            background-image: url(../images/kop-club-slide-6.jpg);
            background-position: bottom;
            background-size: cover;
        }
        // ESCONDER AS SETAS
        // .slick-arrow {
        //     display: none !important;
        // }
        // ESTILIZACAO DOTS
        .slick-dots {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            width: 100%;
            bottom: 48px;
            li {
                width: 10px;
                height: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    display: block;
                    font-size: 0;
                    padding: 0;
                    margin: 0;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background-color: $greySlider;
                    border: none;
                }
            }
            .slick-active {
                border: 1px solid $brownModalBottom;
                border-radius: 100%;
                button {
                    background-color: $brownModalBottom;
                }
            }
        }
    }
    .kop-club-slide-fixed-block-trace {
        position: absolute;
        bottom: 0;
        height: 175px;
        top: calc(50% - 87px);
        @media(min-width: 1400px) {
            left: 100px;
        }
        @media(min-width: 1800px) {
            left: 15%;
        }
        @media(min-width: 2000px) {
            left: 23%;
        }
        img {
            margin-left: -70px;
            margin-top: -50px;
        }
    }
    .kop-club-slide-fixed-block {
        position: absolute;
        bottom: 0;
        height: 175px;
        top: calc(50% - 87px);
        left: 50px;
        @media(min-width: 1400px) {
            left: 8%;
        }
        @media(min-width: 1800px) {
            left: 15%;
            max-width: 400px;
        }
        @media(min-width: 1900px) {
            left: 325px;
        }
        @media(min-width: 2000px) {
            left: 20%;
        }
        @media(min-width: 2300px) {
            left: calc(50% - 700px);
        }
        @media(max-width: 1050px) {
            left: 20px;
        }
        @media(max-width: 500px) {
            left: 0;
        }
        .kop-club-text-md,.kop-club-text-sm {
            font-family: $omnes;
            color: $white;
        }
        .kop-club-text-md {
            font-style: italic;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 18px;
        }
        .kop-club-text-lg {
            font-family: $trajan;
            color: $redSlider;
            font-size: 60px;
            margin-bottom: 27px;
            @media(max-width: 650px) {
                font-size: 48px;
            }
        }
        .kop-club-text-sm {
            font-weight: 300;
            font-size: 16px;
            line-height: normal;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            left: -160px;
            top: -70px;
            background-image: url(../images/slide-trace.png);
            width: 188px;
            height: 322px;
            @media(max-width: 800px) {
                display: none;
            }
        }
    }
        
}
.slide-cover {
    background: rgb(0,0,0);
background: -moz-linear-gradient(118deg, rgba(0,0,0,1) 8.3333%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(118deg, rgba(0,0,0,1) 8.3333%, rgba(0,0,0,0) 100%);
background: linear-gradient(118deg, rgba(0,0,0,1) 8.3333%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.benefit-block {
    background-color: $black;
    // z-index: 20;
    position: relative;
    .benefit-block-top {
        width: 100%;
        height: 184px;
        background-image: url(../images/benefit-bright.jpg);
        background-repeat: repeat-x;

    }
    .benefit-block-content {
        // padding-top: 10px;
        margin-top: -100px;
        .benefit-title {
            max-width: 440px;
            width: 100%;
            margin: auto;
            font-family: $trajan;
            font-size: 32px;
            color: $greyBenefit;
            text-align: center;
            &:last-of-type {
                margin-bottom: 68px;
            }
            span {
                color: $brownModalBottom;
            }
        }
        .container {
            .row {
                .benefit-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media(max-width: 800px) {
                        justify-content: end;
                    }
                    @media (max-width: 650px) {
                        &:not(:last-of-type) {
                            margin-bottom: 40px;
                        }
                    }
                    &:last-of-type {
                        .benefit-item-title {
                            margin-left: 0;
                        }
                    }
                    .benefit-item-trace {
                        content: '';
                        position: absolute;
                        left: -65px;
                        max-width: 195px;
                        width: 100%;
                        height: 288px;
                        background-image: url(../images/benefit-trace.png);
                        background-size: cover;
                        @media(max-width: 800px) {
                            display: none;
                        }
                    }
                    .benefit-item-img {
                        width: 92px;
                        height: 93px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-bottom: 46px;
                    }
                    .benefit-bag {
                        background-image: url(../images/benefit-bag.png);
                    }
                    .benefit-coin {
                        background-image: url(../images/benefit-coin.png);
                    }
                    .benefit-chocolate {
                        background-image: url(../images/benefit-chocolate.png);
                    }
                    .benefit-item-title, .benefit-item-text {
                        font-family: $omnes;
                    }
                    .benefit-item-title {
                        max-width: 185px;
                        font-weight: 600;
                        color: $brownModalBottom;
                        font-size: 20px;
                        margin-bottom: 32px;
                        margin-left: -40px;
                        @media(max-width: 800px) and (min-width: 501px) {
                            text-align: center;
                        }
                    }
                    .benefit-item-text {
                        font-weight: 300;
                        color: $closeModal;
                        font-size: 16px;
                        max-width: 185px;
                    }
                }
                .benefit-register {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 45px;
                    margin-bottom: 90px;
                    .benefit-register-btn {
                        button {
                            padding: 20px 134px;
                            border: 1px solid $brown;
                            background-color: $black;
                            font-family: $omnes;
                            color: $brown;
                            transition: all 0.5s;
                            @media (max-width: 350px) {
                                padding: 20px 84px !important;
                            }
                            &:hover {
                                background-color: $brown;
                                color: $white;
                                transition: all 0.5s;
                                opacity: 0.8;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
            .benefit-bottom {
                align-items: center;
                padding-bottom: 62px;
                @media(max-width: 650px) {
                    text-align: center;
                }
                .benefit-bottom-ad {
                    .benefit-bottom-ad-text {
                        font-family: $trajan;
                        margin-bottom: 15px;
                    }
                    .benefit-bottom-ad-text:nth-child(1) {
                        color: $closeModal;
                        font-size: 24px;
                        @media(max-width: 800px) and (min-width: 501px) {
                            font-size: 14px;
                        }
                    }
                    .benefit-bottom-ad-text:nth-child(2) {
                        color: $closeModal;
                        font-size: 37px;
                        @media(max-width: 800px) and (min-width: 501px) {
                            font-size: 27px;
                        }
                    }
                    .benefit-bottom-ad-text:nth-child(3) {
                        color: $browKop;
                        font-size: 37px;
                        margin-bottom: 0;
                        @media(max-width: 800px) and (min-width: 501px) {
                            font-size: 27px;
                        }
                    }
                }
                .benefit-bottom-middle {
                    @media(max-width: 650px) {
                        max-width: 345px;
                        margin: 45px auto;
                    }
                    .benefit-bottom-middle-bar {
                        width: 100%;
                        height: 1px;
                        background-color: $white;
                    }
                    .benefit-bottom-middle-text {
                        margin: 25px 0;
                        padding: 0 20px;
                        font-family: $omnes;
                        font-size: 20px;
                        line-height: 28px;
                        color: $closeModal;
                    }
                }
                .benefit-bottom-btn {
                    display: flex;
                    justify-content: center;
                    .benefit-bottom-btn-item {
                        button {
                            padding: 35px;
                            border: 1px solid $brown;
                            background-color: $black;
                            font-family: $omnes;
                            color: $brown;
                            transition: all 0.5s;
                            &:hover {
                                background-color: #81694c;
                                color: #fff;
                                transition: all 0.5s;
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}
.attract-hover-easing {
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
// BLOCO DE PRODUTO
.product-block {
    .container {
        .row {
            .product-block-top {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 50px auto;
                .product-block-top-title {
                    font-family: $trajan;
                    font-size: 32px;
                    color: $productTitle;
                    span {
                        color: $brownModalBottom;
                    }
                }
            }
        }
    }
    .product-content {
        margin-bottom: 50px;
        position: relative;
        .dark-bright {
            position: absolute;
            left: -90px;
            bottom: -80px;
            z-index: 1;
            // @include animation-mixin(dark-product-slide, -20px, -30px);
            // animation: dark-product-slide 4s ease infinite;
            img {
                max-width: 300px;
            }
        }
        .gold-bright {
            z-index: 1;
            top: -180px;
            // @include animation-mixin(float-gold-product-slide, 0, 10px);
            // animation: float-gold-product-slide 4s ease infinite;
        }
        .product-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .slick-list {
                width: 80%;
                .slick-track {
                    display: flex;
                    align-items: center;
                }
            }
            .product-slider-item {
                
                .product-item-img {
                    height: 275px;
                    display: flex;
                    justify-content: center;
                    img {
                        max-height: 275px;
                        margin: auto;
                        max-width: 195px;
                    }
                    .imgTablete {
                        height: 200px
                    }
                }
                .product-item-info {
                    display: flex;
                    align-items: center;
                    padding-left: 22px;
                    padding-top: 25px;
                    padding-bottom: 10px;
                    width: 80%;
                    margin: auto;
                    font-family: $omnes;
                    @media(min-width: 1300px) {
                        width: 85%;
                    }
                    .product-item-info-bar {
                        height: 75px;
                        width: 1px;
                        background-color: $black;
                        margin-right: 20px;
                    }
                    .product-item-info-content {
                        display: flex;
                        flex-direction: column;
                    }
                    .item-info-title {
                        color: $redSlider;
                        line-height: normal;
                        margin-bottom: 5px;
                    }
                    .item-info-text {
                        color: $productTitle;
                        font-weight: 300;
                        line-height: normal;
                    }
                }
            }
            .slick-prev, .slick-next {
                width: 148px;
                height: 68px;
                position: relative;
                @media(max-width: 500px) {
                    display: none !important;
                }
                .prev-circle, .next-circle {
                    width: 68px;
                    height: 100%;
                    position: relative;
                    height: 68px;
                    border: 1px solid $greyButtonSlider;
                    border-radius: 100%;
                }
                .prev-icon, .next-icon  {
                    position: absolute;
                    top: calc(50% - 4px);
                    width: 75px;
                    height: 8px;
                    background-image: url(../images/arrow-slider.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .prev-icon {
                    left: calc(50% - 37px);
                }
                .next-icon {
                    right: calc(50% - 37px);
                    transform: rotate(180deg);
                }
            }
            .slick-next {
                display: flex;
                justify-content: flex-end;
            }
        }
        
    }
}
// FIM DO BLOCO DE PRODUTO
// BLOCO APP COM BACKLIGHT
.app-block-disabled {
    display: none;
}
.app-block {
    // PROVISORIO 10/01/19
    display: none;
    // FIM PROVISORIO 10/01/19
    min-height: 600px;
    height: 100%;
    background-color: $black;
    position: relative;
    transition: background-color 0.6s ease;
    background: -webkit-gradient(radial, 368 382, 0, 368 382, 667, from(rgb(99, 33, 30)), to(rgba(255, 255, 255, 0))), rgb(0, 0, 0);
    @media(max-width: 650px) {
        background: $black !important;
    }
    .container {
        display: flex;
        align-items: center;
        @media(max-width: 650px) {
            flex-direction: column-reverse;
        }
        .app-phone {
            min-height: 600px;
            @media(max-width: 650px) {
                min-height: 400px;
            }
            .app-phone-img {
                position: absolute;
                margin-top: 146px;
                @media(max-width: 650px) {
                    margin-top: 46px;
                    max-width: 300px;
                    left: calc(50% - 150px);
                }
            }
        }
        .app-block-info {
            padding: 0;
            @media(max-width: 650px) {
                padding-top: 45px;
            }
            .app-text-block {
                .app-text-md, .app-text-sm {
                    font-family: $omnes;
                }
                .app-text-md {
                    color: $brownModalBottom;
                    font-size: 20px;
                    font-style: italic;
                    font-weight: 300;
                }
                .app-text-lg {
                    font-family: $trajan;
                    color: $greyBenefit;
                    font-size: 36px;
                    line-height: 49px;
                }
                .app-text-sm {
                    font-size: 16px;
                    color: $closeModal;
                    line-height: normal;
                }
            }
            .apps-block {
                display: flex;
                margin-top: 42px;
                .apps-block-item {
                    display: flex;
                    align-items: center;
                    width: 45%;
                    justify-content: space-between;
                    .block-item-img {
                        max-width: 30px;
                        width: 100%;
                        height: 30px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-right: 11px;
                    }
                    .apple-icon {
                        background-image: url(../images/apple-icon.png);
                    }
                    .google-icon {
                        background-image: url(../images/google-play-icon.png);
                    }
                    .block-item-name {
                        font-family: $omnes;
                        font-size: 16px;
                        color: $closeModal;
                    }
                }
                .apple {
                    @media(max-width:650px) {
                        justify-content: flex-end;
                    }
                }
                .app-block-line {
                    width: 10%;
                    .app-block-line-bar {
                        width: 1px;
                        background-color: $brownModalBottom;
                        height: 70px;
                        margin: auto;
                    }
                }
            }
        }
        .app-block-trace {
            min-height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 800px) {
                display: none;
            }
            .app-trace-img {
                width: 1px;
                height: 372px;
                background-color: $brownModalBottom;
                transform: rotate(-28deg);
            }
        }
    }
    .dark-bright {
        position: absolute;
        left: 0;
        bottom: 0;
        // @include animation-mixin(float-dark-app, 0, 10px);
        // animation: float-dark-app 4s ease 2s infinite;
    }
}
// FIM BLOCO APP
.benefit-line-block {
    height: 2px;
    background-color: $greyBenefitLine;
    padding-bottom: 3px;
}
.register-block {
    background-image: url(../images/register-block-bg.jpg);
    min-height: 410px;
    position: relative;
    background-size: 140%;
    background-position: center;
    .register-block-cover {
        display: flex;
        align-items: center;
        flex-direction: row;    
        width: 100%;
        height: 100%;
        position: absolute;
        // bg gradient
        background: rgb(0,0,0);
        background: -moz-linear-gradient(118deg, rgba(0,0,0,1) 8.3333%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(118deg, rgba(0,0,0,1) 8.3333%, rgba(0,0,0,0) 100%);
        background: linear-gradient(118deg, rgba(0,0,0,1) 8.3333%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        .container {
            display: flex;
            flex-direction: row;
            .gold-bright {
                top: 0;
            }
            .dark-bright {
                left: calc(50% - 115px);
                bottom: -20px;
            }
            .register-info-block {
                height: 300px;
                padding: 0;
                @media(max-width: 800px) {
                    height: unset;
                }
                .register-info-block-trace {
                    content: '';
                    display: flex;
                    position: absolute;
                    left: -55%;
                    top: -50px;
                    max-width: 292px;
                    width: 100%;
                    height: 358px;
                    background-image: url(../images/register-trace.png);
                    background-size: 100%;
                    @media(max-width: 800px) {
                        display: none;
                    }
                }
                .register-info-text-md, .register-info-text-lg, .register-info-text-xl, .register-info-text-sm {
                    color: $white;
                }
                .register-info-text-md {
                    font-family: $omnes;
                    font-size: 20px;
                    font-weight: 200;
                    font-style: italic;
                    margin-bottom: 20px;
                }
                .register-info-text-lg, .register-info-text-xl {
                    font-family: $trajan;
                }
                .register-info-text-xl {
                    font-size: 43px;
                    margin-bottom: 11px;
                }
                .register-info-text-lg {
                    font-size: 34px;
                    margin-bottom: 23px;
                }
                .register-info-text-sm {
                    font-family: $omnes;
                    font-size: 16px;
                    font-weight: 300;
                }
                a {
                    .register-info-btn {
                        padding: 23px 35px;
                        border: 1px solid $brown;
                        background-color: $black;
                        color: $brown;
                        font-family: $omnes;
                        font-size: 16px;
                        margin-top: 38px;
                        transition: all 0.5s;
                        &:hover {
                            background-color: #81694c;
                            color: #fff;
                            transition: all 0.5s;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
.dark-bright, .gold-bright {
    @media(max-width: 800px) {
        // right: 0;
        // left: unset !important;
        display: none !important;
    }
    @media(max-width: 650px) {
        display: none !important;
    }
}
.dark-bright {
    position: absolute;
    left: calc(50% - 198px);
    transform: translateY(110%);
    // @include animation-mixin(float-dark, 110%, 100%);
    // animation: float-dark 4s ease 2s infinite;
}
.gold-bright {
    position: absolute;
    right: 0;
    // @include animation-mixin(float-gold, calc(0% - 104px), calc(0% - 114px));
    // animation: float-gold 4s ease infinite;
}