@import 'variables.scss';
@import 'fonts.scss';
.dark-block {
    background-color: $black;
    // AJUSTE 17/12/18
    position: relative;
    z-index: inherit;
    border-bottom: 1px solid $closeModal;
    // FIM AJUSTE 17/12/18
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 110px;
        @media(max-width: 650px) {
            flex-direction: column;
        }
    }
}
.dark-block-logged {
    .container {
        @media(max-width: 800px) {
            flex-direction: column;
        }
        @media(max-width: 500px) {
            flex-direction: column;
        }
        .block-kopclub {
            @media(max-width: 800px) {
                margin: auto;
            }
            .active-menu {
                // ========= AJUSTE MENU =========
                & .menu-bar {
                    background-color: $closeModal;
                }
                // ========= FIM AJUSTE MENU =========
                & .menu-bar:nth-child(1) {
                    margin-left: 10px;
                }
                & .menu-bar:nth-child(2) {
                    margin-left: -10px;
                }
            }
            .logo-img {
                transition: background-size .5s;
            }
            // ========= AJUSTE MENU =========
            .logo-ativo {
                // background-image: url(../images/kopenhagen-logo.png);
                // background-repeat: no-repeat;
                // background-size: contain;
                // transition: background-size .5s;
            }
            // ========= FIM AJUSTE MENU =========
        }
    }
}
.access-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8.333333%;
    @media(max-width: 800px) and (min-width: 651px) {
        justify-content: center;
        margin-right: 8.333333%;
    }
    @media(max-width: 650px) {
        justify-content: center;
        margin: auto;
        margin-bottom: 34px;
    }
    a {
        text-decoration: unset;
        .btn-login,.btn-register {
            color: $brown;
            font-family: $omnes;
            font-size: 16px;
            font-weight: 400;
        }
        .btn-login {
            margin-right: 60px;
        }
        .btn-register {
            width: 165px;
            padding: 10px 0;
            border: 1px solid $brown;
            text-align: center;
            transition: all 0.5s;
            &:hover {
                background-color: $brown;
                color: $white;
                transition: all 0.5s;
                opacity: 0.8;
            }
        }
    }
}
.access-block-logged {
    display: flex;
    align-items: center;
    margin-right: 8%;
    @media(max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 300px;
        margin: auto;
        .access-block-logged-item {
            margin-left: 25px;
        }
    }
    @media(max-width: 500px) {
        align-items: center;
    }
    .access-block-logged-item {
        color: $brown;
        font-family: $omnes;
    }
    a.access-block-logged-item {
        margin-bottom: 10px;
        font-family: $omnes;
        color: $brown;
    }
    .access-block-logged-item:not(:first-child){
        margin-left: 25px;
    }
    .block-user-logged {
        display: flex;
        align-items: center;
        @media(max-width: 800px) {
            margin: 0 auto 10px !important;
        }
        .block-user-img {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .no-image {
            background-image: url(../images/user-icon.png)
        }
        .block-user-text {
            .block-user-welcome-text, .block-user-edit {
                font-family: $omnes;
            }
            .block-user-welcome-text {
                font-size: 20px;
                color: $closeModal;
            }
            .block-user-edit {
                font-size: 16px;
                color: $brown;
            }
        }
    }
}
.box-score {
    max-width: 390px;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: $white;
    right: 16%;
    border: 1px solid $brown;
    @media(min-width: 1800px) {
        right: 35%;
    }
    @media(max-width: 500px) {
        right: 0;
    }
    .box-score-content {
        padding: 103px 48px;
        .score-text {
            font-family: $omnes;
            font-size: 16px;
            font-weight: 300;
            color: $greyFooter;
        }
        .score-point {
            height: 190px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .score-point-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            .score-point-content::after {
                content: '';
                display: block;
                position: absolute;
                background-image: url(../images/score-trace.png);
                width: 150px;
                height: 190px;
                left: 30px;
                top: 110px;
            }
            .score-point-text, .score-point-description {
                font-family: $trajan;
            }
            .score-point-text {
                font-size: 93px;
                color: $greyButtonSlider;
            }
            .score-point-description {
                font-size: 25px;
                color: $greyButtonSlider;                
            }
        }
        a {
            &:hover {
                text-decoration: unset; 
            }
            .score-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 55px;
                color: $brown;
                border: 1px solid $brown;
                margin-top: 45px;
                transition: all .3s;
                &:hover {
                    background-color: $brown;
                    border: 1px solid $white;
                    color: $white;
                    opacity: 0.9;
                    transition: all .3s;
                }
            }
        }
    }
}
.box-score-ativo {
    height: 600px;
    opacity: 1;
    transition: all .5s;
}
.box-score-inativo {
    height: 0px;
    opacity: 0;
    transition: all .5s;
}
.sidenav {
    // height: 100%;
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    // ========= AJUSTE MENU =========
    background-color: $dark-menu;
    // ========= FIM AJUSTE MENU =========
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    @media(max-width: 800px) {
        z-index: 20 !important;
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
  .nav-menu-active {
      @media(max-width: 800px) {
        padding-top: 90px;
      }
      @media(max-width: 500px) {
        width: 100% !important;
      }
  }
  .block-close {
    position: absolute;
    right: 80px;
    top: 40px;
    width: 40px;
    height: 40px;
    @media(max-width:800px) {
        left: 110px;
        top: 20px;
        right: 0;
    }
    @media(max-width:650px) {
        left: 65px;
        top: 25px;
    }
    // ========= AJUSTE MENU =========
    &:hover {
        .close-bar {
            background-color: $brown-menu;
        }
    }
    // ========= FIM AJUSTE MENU =========
    .close-bar {
        position: absolute;
        // ========= AJUSTE MENU =========
        width: 30px;
        height: 2px;
        background-color: $closeModal;
        // ========= FIM AJUSTE MENU =========
        margin-top: 20px;
        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            transform: rotate(135deg);
        }
    }
  }
  // ========= AJUSTE MENU =========
  div.sidenav-logged {
      background-color: $dark-menu;
    .block-close {
        &:hover {
            .close-bar {
                background-color: $brown-menu;
            }
        }
        .close-bar {
            background-color: $closeModal;
        }
    }
    // ========= FIM AJUSTE MENU =========
    .itens-menu {
        @media(min-width: 801px) {
            padding-left: 120px;
        }
        .list-itens {
            a {
                width: 50%;
                color: $closeModal;
                @media(max-width: 500px) {
                    width: 100%;
                    font-size: 24px;
                }
                // ========= AJUSTE MENU =========
                &:hover {
                    text-decoration: underline;
                    color: $brown-menu;
                }
                // ========= FIM AJUSTE MENU =========
            }
        }
    }
  }
  .itens-menu {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    padding: 0 30px;
    @media(min-width: 801px) {
        padding-left: 120px;
    }
    @media(min-width: 2000px) {
        max-width: 50%;
    }
    .list-itens {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;
        @media(max-width: 650px) {
            height: unset;
        }
        a {
            font-family: $trajan;
            font-size: 25px;
            // ========= AJUSTE MENU =========
            color: $closeModal;
            // ========= FIM AJUSTE MENU =========
            text-decoration: none;
            margin-bottom: 10px;
            transition: font-weight .5s;
            // ========= AJUSTE MENU =========
            &:hover {
                text-decoration: underline;
                color: $brown-menu;
            }
            // ========= FIM AJUSTE MENU =========
        }
    }
    .menu-kop-itens {
        display: flex;
        margin-top: 60px;
        @media(max-width: 500px) {
            flex-direction: column;
        }
        .itens-menu-title {
            font-family: $omnes;
            font-weight: 300;
            font-size: 16px;
            color: $greyButtonSlider;
        }
        .menu-list-itens {
            width: 50%;
            @media(max-width: 500px) {
                width: 100%;
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
        .social-menu-logged-block {
            padding: 30px 0 0 0 ;
            .social-item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
                .social-icon {
                    font-size: 23px;
                    color: $closeModal;
                    transition: all .3s;
                }
                &:hover {
                    .social-icon {
                        color: $brown;
                        transition: all .3s;
                    } 
                }
            }
        }
        .app-menu-logged-block {
            padding: 30px 0 0 0;
            .app-item-block {
                display: flex;
                a {
                    &:last-child {
                        margin-left: 70px;
                        .app-item-block-content:before {
                            content: '';
                            position: absolute;
                            height: 45px;
                            width: 1px;
                            background-color: $closeModal;
                            left: -35px;
                        }
                    }
                    .app-item-block-content {
                        display: flex;
                        align-items: center;
                        position: relative;
                        .app-logo, .app-item-title {
                            color: $closeModal;
                            transition: all .3s;
                        }
                        .app-logo {
                            font-size: 23px;
                        }
                        .app-item-title {
                            font-family: $omnes;
                            font-size: 16px;
                            margin-left: 5px;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        .app-item-block-content {
                            .app-logo, .app-item-title {
                                color: $brown;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
        }
    }
  }
  .block-kopclub {
    display: flex;
    align-items: center;
    padding: 34px 0;
    @media(max-width: 650px) {
        justify-content: center;
        padding: 44px 0;
        margin-bottom: 24px;
    }
    @media(max-width: 500px) {
        .attract-hover-easing {
            transform: none !important;
        }
    }
      .menu-button {
          display: flex;
          flex-direction: column;
          @media(max-width: 650px) {
            position: absolute !important;
            left: 50px;
            top: 40px;
          }
          .menu-bar {
              width: 35px;
              height: 2px;
              background-color: $brown;
              z-index: 10;
              transition: margin-left .3s;
              &:not(:last-child) {
                  margin-bottom: 4px;
              }
          }
      }
      .active-menu {
        // transform: none !important;
          .menu-bar {
            &:nth-child(2) {
                margin-left: 10px;
                transition: margin-left .3s;
            }
          }
          @media(max-width: 800px) {
              display: none;
          }
      }
      .logo-ativo {
            @media(max-width: 800px) and (min-width: 651px) {
                z-index: 30 !important;
                // margin-top: 7px;
            }
          @media(max-width: 650px) {
              z-index: 30 !important;
          }
      }
      .logo-img {
          position: absolute;
          width: 156px;
          height: 47px;
          margin-left: 78px;
          transition: margin-left .3s;
          background-image: url(../images/kopclub-logo.png);
          z-index: 10;
          @media(max-width: 500px) {
              margin-left: 30px;
          }
      }
  }

// ADAPTACAO MENU ASP
#ctl00_updMenu {
    width: 100%;
    #ctl00_infLogado {
        max-width: 100%;
    }
}
div.dark-block-container {
    @media(max-width: 800px) {
        flex-direction: column;
    }
    .block-kopclub {
        @media(max-width: 800px) and (min-width: 501px) {
            margin: auto;
        } 
    }
    #ctl00_updMenu {
        width: 100%;
        #ctl00_infLogado {
            max-width: 100%;
            @media(max-width: 800px) {
                max-width: 50%;
            }
        }
    }
    #ctl00_cadastro {
        @media(max-width: 800px) and (min-width: 501px) {
            margin: auto;
            max-width: 100%;
            padding-bottom: 20px;
        }
    }
}
// FIM ADAPTACAO