#modalKopRegister {
    .modal-dialog {
        max-width: 795px;
        .modal-content {
            display: flex;
            flex-direction: row;
            border: none;
            border-bottom: 10px solid $brownModalBottom;
            border-radius: 0;
            .modal-content-bg,.modal-content-input {
                width: 50%;
            }
            .modal-content-bg {
                background-image: url(../images/cadastro-kop-bg.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-height: 610px;
                @media(max-width: 500px) {
                    display: none;
                }
                .modal-conten-bg-cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0,0,0,0.5);
                    .modal-content-bg-text {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .bg-text-bar {
                            max-width: 212px;
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            &:not(:last-of-type){
                                margin-bottom: 8px;
                            }
                            &:last-of-type {
                                margin-top: 8px;
                            }
                        }
                        .bg-text-content {
                            width: 100%;
                            font-family: $trajan;
                            color: $white;
                            text-align: center;
                            .bg-text-sm {
                                font-size: 20px;
                            }
                            .bg-text-md {
                                font-size: 47px;
                            }
                            .bg-text-xl {
                                font-size: 235px;
                                // margin-bottom: -45px;
                                margin-bottom: -25px;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
            .modal-content-input {
                @media(max-width: 500px) {
                    width: 100%;
                }
                .modal-body {
                    padding: 30px 40px;
                    .modal-body-title {
                        font-family: $trajan;
                        font-size: 28px;
                        color: $greyTopFooter;
                        margin-bottom: 23px;
                        span {
                            color: $brownModalBottom;
                        }
                    }
                    .modal-body-input-area {
                        form {
                            fieldset {
                                .modal-body-text {
                                    max-width: 250px;
                                    font-family: $omnes;
                                    font-weight: 300;
                                    font-size: 16px;
                                    line-height: normal;
                                    color: $greyFooter;
                                    margin-bottom: 36px;
                                }
                                p {
                                    input, .input-modal {
                                        width: 100%;
                                        border: none;
                                        border-bottom: 1px solid $greyInputBorder;
                                        font-size: 16px;
                                        font-family: $omnes;
                                        font-weight: 300;
                                        color: $brown;
                                        padding-bottom: 10px;
                                        margin-bottom: 28px;
                                        &::placeholder {
                                            color: $brown;
                                            transition: font-size 0.3s;

                                        }
                                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &::-moz-placeholder { /* Firefox 19+ */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:-ms-input-placeholder { /* IE 10+ */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:-moz-placeholder { /* Firefox 18- */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:focus {
                                            outline: none;
                                            &::placeholder {
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &::-moz-placeholder { /* Firefox 19+ */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &:-ms-input-placeholder { /* IE 10+ */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &:-moz-placeholder { /* Firefox 18- */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                            .check-area {
                                a {
                                    font-family: $omnes;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: $greyFooter;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                    input[type=checkbox] {
                                        display:none; /* Esconde os inputs */
                                        & + label:before {
                                            border: 3px solid $checkModal;
                                            content: "\00a0";
                                            display: inline-block;
                                            font: 16px/1em sans-serif;
                                            height: 16px;
                                            margin: 0 12px 0 0;
                                            padding: 0;
                                            vertical-align: top;
                                            width: 16px;
                                        }
                                        &:checked + label:before {
                                            background: $checkModalActive;
                                            text-align: center;
                                        }
                                        &:checked + label:after {
                                            font-weight: bold;
                                        }
                                    }
                                    label {
                                        display: flex;
                                        align-items: center;
                                        .reg-link {
                                            margin-left: 2px;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        // AJUSTE ASP
                        fieldset {
                            .modal-body-text {
                                font-family: $omnes;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: normal;
                                color: $greyFooter;
                                margin-bottom: 36px;
                            }
                            p {
                                input, .input-modal {
                                    width: 100%;
                                    border: none;
                                    border-bottom: 1px solid $greyInputBorder;
                                    font-size: 16px;
                                    font-family: $omnes;
                                    font-weight: 300;
                                    color: $brown;
                                    padding-bottom: 10px;
                                    margin-bottom: 28px;
                                    &::placeholder {
                                        color: $brown;
                                        transition: font-size 0.3s;

                                    }
                                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                        color: $brown;
                                        transition: font-size 0.3s;
                                    }
                                    &::-moz-placeholder { /* Firefox 19+ */
                                        color: $brown;
                                        transition: font-size 0.3s;
                                    }
                                    &:-ms-input-placeholder { /* IE 10+ */
                                        color: $brown;
                                        transition: font-size 0.3s;
                                    }
                                    &:-moz-placeholder { /* Firefox 18- */
                                        color: $brown;
                                        transition: font-size 0.3s;
                                    }
                                    &:focus {
                                        outline: none;
                                        &::placeholder {
                                            font-size: 80%;
                                            transition: font-size 0.3s;
                                        }
                                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                            font-size: 80%;
                                            transition: font-size 0.3s;
                                        }
                                        &::-moz-placeholder { /* Firefox 19+ */
                                            font-size: 80%;
                                            transition: font-size 0.3s;
                                        }
                                        &:-ms-input-placeholder { /* IE 10+ */
                                            font-size: 80%;
                                            transition: font-size 0.3s;
                                        }
                                        &:-moz-placeholder { /* Firefox 18- */
                                            font-size: 80%;
                                            transition: font-size 0.3s;
                                        }
                                    }
                                    
                                }
                            }
                        }
                        .check-area {
                            a {
                                font-family: $omnes;
                                font-size: 14px;
                                font-weight: 300;
                                color: $greyFooter;
                                &:hover {
                                    text-decoration: none;
                                }
                                input[type=checkbox] {
                                    display:none; /* Esconde os inputs */
                                    & + label:before {
                                        border: 3px solid $checkModal;
                                        content: "\00a0";
                                        display: inline-block;
                                        font: 16px/1em sans-serif;
                                        height: 16px;
                                        margin: 0 12px 0 0;
                                        padding: 0;
                                        vertical-align: top;
                                        width: 16px;
                                    }
                                    &:checked + label:before {
                                        background: $checkModalActive;
                                        text-align: center;
                                    }
                                    &:checked + label:after {
                                        font-weight: bold;
                                    }
                                }
                                label {
                                    display: flex;
                                    align-items: center;
                                    .reg-link {
                                        margin-left: 2px;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                        // FIM AJUSTE ASP
                    }
                }
                .modal-footer {
                    border-top: none;
                    padding: 0 40px 30px 40px;
                    button {
                        padding: 16px 56px;
                        border: 1px solid $brown;
                        font-family: $omnes;
                        font-size: 16px;
                        color: $brown;
                        transition: all 0.3s;
                        &:hover {
                            background-color: $brown;
                            color: $white;
                            opacity: 0.8;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}

// CADASTRO 2 19/12/18
#modalKopRegisterFill {
    overflow: scroll;
    .modal-dialog {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        .modal-content {
            display: flex;
            flex-direction: row;
            border: none;
            border-bottom: 10px solid $brownModalBottom;
            border-radius: 0;
            .modal-content-bg,.modal-content-input {
                width: 50%;
            }
            .modal-content-bg {
                background-image: url(../images/kop-bar-choc.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-height: 610px;
                @media(max-width: 500px) {
                    display: none;
                }
                .modal-conten-bg-cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0,0,0,0.5);
                    .modal-content-bg-text {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        justify-content: center;
                        .bg-text-bar {
                            max-width: 342px;
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            &:not(:last-of-type){
                                margin-bottom: 15px;
                            }
                            &:last-of-type {
                                margin-top: 8px;
                            }
                        }
                        .bg-text-content {
                            width: 100%;
                            font-family: $trajan;
                            color: $white;
                            text-align: center;
                            .bg-text-content .bg-text-xl {
                                font-size: 360px;
                                margin-bottom: -25px;
                            }
                            .bg-text-md {
                                font-size: 47px;
                                margin-bottom: 25px;
                            }
                            .bg-text-lg {
                                font-size: 77px;
                                font-family: $trajan;
                            }
                            .bg-text-sm-bg {
                                max-width: 342px;
                                margin: auto;
                                font-family: $trajan;
                                font-size: 38px;
                                color: $brownModalBottom;
                                background-color: $white;
                                padding: 18px;
                            }    
                            .bg-text-xl {
                                font-size: 235px;
                                margin-bottom: -25px;
                            }
                        }
                    }
                }
            }
            .modal-content-input {
                @media(max-width: 500px) {
                    width: 100%;
                }
                .modal-body {
                    padding: 30px 40px;
                    // max-height: 550px;
                    // overflow-y: scroll;
                    .modal-body-title {
                        font-family: $trajan;
                        font-size: 28px;
                        color: $greyTopFooter;
                        margin-bottom: 23px;
                        max-width: 375px;
                        margin: auto;
                        span {
                            color: $brownModalBottom;
                        }
                    }
                    .modal-body-input-area {
                        max-width: 375px;
                        margin: auto;                        
                        margin-top: 28px;
                        form {
                            fieldset {
                                .modal-body-text {
                                    font-family: $omnes;
                                    font-weight: 300;
                                    font-size: 16px;
                                    line-height: normal;
                                    color: $greyFooter;
                                    margin-bottom: 36px;
                                }
                                .modal-body-text-bold {
                                    font-family: $omnes;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: normal;
                                    color: $greyFooter;
                                    margin-bottom: 36px;
                                }
                                p {
                                    input {
                                        width: 100%;
                                        border: none;
                                        border-bottom: 1px solid $greyInputBorder;
                                        font-size: 16px;
                                        font-family: $omnes;
                                        font-weight: 300;
                                        color: $brown;
                                        padding-bottom: 10px;
                                        margin-bottom: 28px;
                                        &::placeholder {
                                            color: $brown;
                                            transition: font-size 0.3s;

                                        }
                                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &::-moz-placeholder { /* Firefox 19+ */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:-ms-input-placeholder { /* IE 10+ */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:-moz-placeholder { /* Firefox 18- */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:focus {
                                            outline: none;
                                            &::placeholder {
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &::-moz-placeholder { /* Firefox 19+ */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &:-ms-input-placeholder { /* IE 10+ */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &:-moz-placeholder { /* Firefox 18- */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                        }
                                    }
                                }
                                .double-input {
                                    display: flex;
                                    justify-content: space-between;
                                    // align-items: flex-end;
                                    a {
                                        width: 45%;
                                        &:hover {
                                            text-decoration: none;
                                        }
                                        .select-field {
                                            position: relative;
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                display: block;
                                                width: 15px;
                                                height: 9px;
                                                background-image: url(../images/arrow-select.png);
                                                right: 10px;
                                                top: 5px;
                                            }
                                        }
                                        input {
                                            width: 100%;
                                            border: none;
                                            border-bottom: 1px solid #c7c7c7;
                                            font-size: 16px;
                                            font-family: "Omnes";
                                            font-weight: 300;
                                            color: #81694c;
                                            padding-bottom: 10px;
                                            margin-bottom: 28px;
                                            &:focus {
                                                outline: none !important;
                                            }
                                        }
                                        input {
                                            &::placeholder {
                                                color: $brown;
                                                transition: font-size 0.3s;
    
                                            }
                                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &::-moz-placeholder { /* Firefox 19+ */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &:-ms-input-placeholder { /* IE 10+ */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &:-moz-placeholder { /* Firefox 18- */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &:focus {
                                                outline: none;
                                                &::placeholder {
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &::-moz-placeholder { /* Firefox 19+ */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &:-ms-input-placeholder { /* IE 10+ */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &:-moz-placeholder { /* Firefox 18- */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                            }
                                        }
                                        input[type="date"]::-webkit-inner-spin-button,input[type="date"]::-webkit-calendar-picker-indicator {
                                            display: none;
                                            -webkit-appearance: none;
                                        }
                                    }
                                }
                            }
                            .check-area {
                                a {
                                    font-family: $omnes;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: $greyFooter;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                    input[type=checkbox] {
                                        display:none; /* Esconde os inputs */
                                        & + label:before {
                                            border: 3px solid $checkModal;
                                            content: "\00a0";
                                            display: inline-block;
                                            font: 16px/1em sans-serif;
                                            height: 16px;
                                            margin: 0 7px 0 0;
                                            padding: 0;
                                            vertical-align: top;
                                            width: 16px;
                                        }
                                        &:checked + label:before {
                                            background: $checkModalActive;
                                            text-align: center;
                                        }
                                        &:checked + label:after {
                                            font-weight: bold;
                                        }
                                    }
                                    label {
                                        display: flex;
                                        align-items: center;
                                        width: 120px;
                                        justify-content: center;
                                        .reg-link {
                                            margin-left: 2px;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                                legend {
                                    font-family: $omnes;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: $greyFooter;
                                    text-align: center;
                                }
                                .check-area-content {
                                    display: flex;
                                    justify-content: center;
                                    margin: 25px auto;
                                }
                            }
                        }
                    }
                }
                .modal-footer {
                    border-top: none;
                    padding: 0 40px 30px 40px;
                    .btnCadastro {
                        padding: 16px 56px;
                        border: 1px solid $brown;
                        font-family: $omnes;
                        font-size: 16px;
                        color: $brown;
                        transition: all 0.3s;
                        max-width: 181px;
                        &:hover {
                            background-color: $brown;
                            color: $white;
                            opacity: 0.8;
                            transition: all 0.3s;
                        }
                    }
                    .btnCadastroModal2 {
                        padding: 16px 56px;
                        border: 1px solid $brown;
                        font-family: $omnes;
                        font-size: 16px;
                        color: $brown;
                        transition: all 0.3s;
                        &:hover {
                            background-color: $brown;
                            color: $white;
                            opacity: 0.8;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}
// FIM CADASTRO 2 19/12/18


.modal {
    .close-area {
        position: absolute;
        top: 17px;
        right: 18px;
        button {
            height: 19px;
            width: 19px;
            cursor: unset !important;
            .close-bar {
                position: absolute;
                width: 19px;
                height: 1px;
                background-color: $closeModal;
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotate(135deg);
                }
            }
        }
    }
}
// MODAL ESQUECI A SENHA
#modalEsqueciSenha, #modalParabens {
    .modal-content {
        border-radius: 20px;
    }
    .modal-header {
        justify-content: center;
        padding-top: 47px;
        padding-bottom: 37px;
        border-bottom: none;
        .close {
            position: absolute;
            right: 40px;
            top: 25px;
            &:not(:disabled):not(.disabled) {
                cursor: none;
            }
            &:hover {
                cursor: none;
            }
            &:focus {
                outline: none;
            }
            .close-bar {
                display: block;
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: $closeModal;
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .modal-body {
        max-width: 318px;
        width: 100%;
        margin: auto;
        padding: 0;
        .modal-desc {
            margin-bottom: 45px;
            .modal-desc-text {
                font-family: $omnes;
                font-weight: 300;
                color: $greyFooter;
                .modal-desc-span {
                    font-weight: 500;
                }
            }
        }
    }
    .input-modal {
        border: none;
        border-bottom: 1px solid $closeModal;
        width: 100%;
        padding-bottom: 5px;
        transition: all .3s;
        &:focus {
            outline: none;
            font-size: 14px;
            transition: all .3s;
            line-height: 16px;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $brown;
            font-family: $omnes;
            font-weight: 300;
            line-height: 16px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $brown;
            font-family: $omnes;
            font-weight: 300;
            line-height: 16px;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $brown;
            font-family: $omnes;
            font-weight: 300;
            line-height: 16px;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $brown;
            font-family: $omnes;
            font-weight: 300;
            line-height: 16px;
        }
    }
    .modal-body {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .btn-menu-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $omnes;
        color: $brown;
        width: 170px;
        height: 45px;
        margin: auto;
        margin-top: 30px;
        border: 1px solid $brown;
        transition: all .3s;
        &:hover {
            background-color: $brown;
            opacity: 0.8;
            color: $white;
            transition: all .3s;
        }
    }
    .modal-footer {
        border-top: none;
    }
    .modal-title {
        font-family: $trajan;
        font-size: 28px;
        color: $productTitle;
        text-transform: uppercase;
        @media(max-width: 500px) {
            font-size: 24px;
        }
        .modal-title-span {
            color: $brown;
        }
    }
    .modal-footer {
        justify-content: left;
    }
    .modal-text-return {
        font-family: $omnes;
        font-weight: 300;
        color: $greyFooter;
        &:hover {
            color: $brown;
            text-decoration: none;
        }
    }
    .modal-dialog {
        max-width: 590px;
    }
}
// FIM MODAL ESQUECI A SENHA
// MODAL PARABENS
#modalParabens {
    .modal-header {
        padding-bottom: 7px;
    }
    .modal-title {
        max-width: 430px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .modal-body {
        max-width: 430px;
        div.modal-desc {
            margin-bottom: 75px;
        }
        @media(max-width: 500px) {
            max-width: 80%;
            .modal-desc-text {
                text-align: center;
            }
        }
    }
    .btn-menu-modal {
        margin-bottom: 35px;
    }
}
// FIM MODAL PARABENS
// MODAL DE LOGIN
.modal-login {
    position: absolute;
    top: 77px;
    left: 50%;
    max-width: 400px;
    width: 100%;
    background-color: $greyModalBg;
    z-index: 10;
    height: 480px;
    border-radius: 15px;
    transition: height .3s;
    @media(max-width: 800px) {
        left: calc(50% - 200px);
    }
    @media(max-width: 500px) {
        left: calc(50% - 175px);
        max-width: 350px;
    }
    .modal-login-content {
        padding: 38px 32px;
        position: relative;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            display: block;
            left: calc(50% - 12px);
            top: -12px;
            width: 25px;
            height: 12px;
            background-image: url(../images/modal-triangle-top.png);
            background-repeat: no-repeat;
        }
    }
    .titulo-modal {
        width: 80%;
        font-family: $trajan;
        font-size: 28px;
        color: $productTitle;
        font-weight: 400;
        .titulo-modal-span {
            color: $brown;
        }
    }
    .modal-login-desc {
        max-width: 260px;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 42px;
        .modal-login-desc-text {
            font-family: $omnes;
            font-weight: 300;
            color: $greyFooter;
        }
        .modal-login-desc-span {
            font-weight: 500;            
        }
    }
    .block-form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .input-modal {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $brown;
        padding-bottom: 5px;
        margin-bottom: 32px;
        color: $brown;
        font-family: $omnes;
        font-weight: 300;
        &:not(:last-child) {
            margin-bottom: 28px;
        }
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $brown;
        }
        &::-webkit-input-placeholder {
            color: $brown;
        }
        &:-moz-placeholder {
            color: $brown;
        }
        &::-moz-placeholder {
            color: $brown;
        }
        &:-ms-input-placeholder {
            color: $brown;
        }
        &::-ms-input-placeholder {
            color: $brown;
        }
        &::placeholder {
            color: $brown;
        } 
    }
    .input-hidden {
        display: none;
    }
    .modal-login-btn {
        background-color: transparent;
        border: 1px solid $brown;
        color: $brown;
        padding: 15px 50px;
        max-width: 170px;
        width: 100%;
        transition: all .3s;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $brown;
            opacity: .8;
            transition: all .3s;
            color: $white;
        }
    }
    .remember-text-link {
        display: none;
        position: absolute;
        bottom: 15px;
        font-family: $omnes;
        color: $greyFooter;
        &:hover {
            color: $brown;
            text-decoration: none;
        }
    }
    .close-link {
        position: absolute;
        right: 15px;
        top: 20px;
        width: 30px;
        height: 30px;
    }
    .close {
        position: absolute;
        right: 25px;
        top: 15px;
        &:hover {
            cursor: none;
            &:not(:disabled):not(.disabled) {
                cursor: none;
            }
        }
        &:focus {
            outline: none;
        }
        .close-bar {
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: $closeModal;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }
}
.login-off{
    visibility: hidden;
    height: 0;
    transition: height .3s;
}
.login-off .modal-login-content {
    display: none;
}
// FIM DO MODAL DE LOGIN
// REMOVE OUTLINE
.modal {
    div.close-area {
        &:focus {
            outline: none;
        }
    }
}
.modal {
    .close-area {
        button  {
            &:focus {
                outline: none;
            }
        }
    }
}

// ESTILIZACAO DE SELECT
/* The container must be positioned relative: */

.kop-select {
    position: relative;
    font-family: $omnes;
    margin-bottom: 30px;
    .kop-select-item {
      display: none !important;
      /*hide original SELECT element: */
    }
  }
  
  .select-selected {
    background-color: DodgerBlue;
    &:after {
      position: absolute;
      content: "";
      top: 5px;
      right: 10px;
      width: 0;
      height: 0;
    //   border: 6px solid transparent;
    //   border-color: $brown transparent transparent transparent;
    //  ----- AJUSTE DE FECHA DE SELECT CUSTOM ----
    background-image: url(../images/kop-select-icon.png);
    background-size: cover;
    width: 15px;
    height: 9px;
    //  ----- FIM AJUSTE DE FECHA DE SELECT CUSTOM ----
    }
    &.select-arrow-active:after {
    //   border-color: transparent transparent $brown transparent;
      top: 0px;
        //  ----- AJUSTE DE FECHA DE SELECT CUSTOM ----
      background-image: url(../images/kop-select-icon.png);
      background-size: cover;
      transform: rotate(180deg);
      width: 15px;
      height: 9px;
      //  ----- FIM AJUSTE DE FECHA DE SELECT CUSTOM ----
    }
  }
  
  /* Style the arrow inside the select element: */
  
  /* Point the arrow upwards when the select box is open (active): */
  
  /* style the items (options), including the selected item: */
  
  .select-selected {
    color: $brown;
    background-color: $white;
    padding-bottom: 10px;
    border: 1px solid transparent;
    font-family: "Omnes";
    font-weight: 300;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-bottom: 1px solid #c7c7c7;
  }
  
  /* Style items (options): */
  
  .select-items {
    position: absolute;
    background-color: $brownLight;
    color: $white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 300px;
    overflow: auto;
    div {
        background-color: $brownLight;
        color: $white;
        min-height: 45px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $brown;
        transition: all .3s;        
        &:hover {
            color: $white;
            transition: all .3s;
        }
    }
    
  }
  
  /* Hide the items when the select box is closed: */
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    // background-color: rgba(0, 0, 0, 0.1);
    background-color: $brownLighter;
    transition: all .3s;
  }

// MODAL PRE CADASTRO
/** Modal Mensagens **/
.spriteModal {background: url(../../img/sprite.png) no-repeat center 0;}
.modalOverlay {width: 100%; height: 100%; z-index: 9; background: url(../../img/bgModalOverlay.png); opacity: 0.6; -moz-opacity: 0.6; -webkit-opacity: 0.6; filter: alpha(opacity=60); position: fixed; left: 0; top: 0; display: none;}

/** Modais **/
.modal-pre-cad {background:url(../../img/bgModais.jpg) no-repeat; position: fixed; z-index: 9999; left: 50%; top: 50%; color: #4D3520; display: none; }
.modal-pre-cad h4 {color: #4d3520; font-size: 26px; font-family: 'TrajanRegular'; font-weight: normal; margin-bottom: 30px;}
.modal-pre-cad .titMsg {font-family: $trajan; font-size: 17px; letter-spacing: 1px; margin-bottom: 15px;}
.modal-pre-cad .botoes {margin-top: 15px; width: 300px;}
.modal-pre-cad .botoes li {width: auto; float: left;}
.modal-pre-cad .lnkcolor1{color:#4D3520; text-decoration:underline;}
.modal-pre-cad .textos p{font-family: $trajan; font-size:12px; line-height: normal; color:#4d3520;}

.modalMensagens, 
.modalEsqueci {width: 300px; min-height: 180px; /*height: 220px;*/ position: fixed; background: url(../../img/bgModais.jpg) 480px -130px; top: 50%; left: 50%; margin: -130px 0 0 -200px; padding: 30px 30px 30px 30px; color: #4d3520; z-index: 9999; display: none;}
.modalMensagens .fechar,
.modalEsqueci .fechar  { display: block; width: 74px; height: 74px; text-indent: -9999px; background-position: -501px -648px; position: absolute; right: -40px; top: 90px; }
.modalMensagens .campoTxt,
.modalEsqueci .campoTxt {margin-bottom: 15px;}
.modalMensagens .campoTxt input,
.modalEsqueci .campoTxt input {width: 250px;}

.modalPreCadAtivo {
    display: block !important;
}
// fechar
.close-area {
    position: absolute;
    top: 17px;
    right: 18px;
    &:focus {
        outline: none;
    }
    button {
        height: 19px;
        width: 19px;
        cursor: unset !important;
        &:focus {
            outline: none;
        }
        .close-bar {
            position: absolute;
            width: 19px;
            height: 1px;
            background-color: #4d3520;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(135deg);
            }
        }
    }
}
// FIM MODAL PRE CADASTRO

// ALTERACAO DE CADASTRO
.invalid-text {
    color: $redSliderLight;
    margin-top: -25px;
    position: absolute;
    font-family: $omnes;
    font-weight: lighter;
    font-size: 12px;
}
// input[type="date"]:before {
//     content: attr(placeholder) !important;
//     color: $brown;
//     margin-right: 0.5em;
//     padding-bottom: 10px !important;
//     margin-top: 0px !important;
//     margin-bottom: -20px !important;
//     position: absolute;
// }
// input[type="date"]:focus:before {
//     display: none;
// }
// input[type="date"]:valid:before {
//     content: " ";
//     margin-top: 0px !important;
//     padding-top: 10px !important;
//     background: $white;
// }
.dateInput {
    margin-top: 0px !important;
    padding-bottom: 10px !important;
}
#modalKopAltCad {
    overflow: scroll;
    @media(max-width: 500px) {
        padding-right: 0 !important; 
    }
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
    .modal-dialog {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        .modal-content {
            display: flex;
            flex-direction: row;
            border: none;
            border-bottom: 10px solid $brownModalBottom;
            border-radius: 0;
            .modal-content-bg,.modal-content-input {
                width: 50%;
            }
            .modal-content-bg {
                background-image: url(../images/kop-bar-choc.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-height: 610px;
                @media(max-width: 500px) {
                    display: none;
                }
                .modal-conten-bg-cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0,0,0,0.1);
                    .modal-content-bg-text {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        justify-content: center;
                        .bg-text-bar {
                            max-width: 342px;
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            &:not(:last-of-type){
                                margin-bottom: 15px;
                            }
                            &:last-of-type {
                                margin-top: 8px;
                            }
                        }
                        .bg-text-content {
                            width: 100%;
                            font-family: $trajan;
                            color: $white;
                            text-align: center;
                            .bg-text-content .bg-text-xl {
                                font-size: 360px;
                                margin-bottom: -65px;
                            }
                            .bg-text-md {
                                font-size: 47px;
                                margin-bottom: 25px;
                            }
                            .bg-text-lg {
                                font-size: 77px;
                                font-family: $trajan;
                            }
                            .bg-text-sm-bg {
                                max-width: 342px;
                                margin: auto;
                                font-family: $trajan;
                                font-size: 38px;
                                color: $brownModalBottom;
                                background-color: $white;
                                padding: 18px;
                            }    
                            .bg-text-xl {
                                font-size: 235px;
                                margin-bottom: -45px;
                            }
                        }
                    }
                }
            }
            .modal-content-input {
                @media(max-width: 500px) {
                    width: 100%;
                }
                .modal-body {
                    padding: 30px 40px;
                    // max-height: 550px;
                    // overflow-y: scroll;
                    .modal-body-title {
                        font-family: $trajan;
                        font-size: 28px;
                        color: $greyTopFooter;
                        margin-bottom: 23px;
                        max-width: 375px;
                        margin: auto;
                        span {
                            color: $brownModalBottom;
                        }
                    }
                    .modal-body-input-area {
                        max-width: 375px;
                        margin: auto;                        
                        margin-top: 28px;
                        form {
                            fieldset {
                                .modal-body-text {
                                    font-family: $omnes;
                                    font-weight: 300;
                                    font-size: 16px;
                                    line-height: normal;
                                    color: $greyFooter;
                                    margin-bottom: 36px;
                                }
                                .modal-body-text-bold {
                                    font-family: $omnes;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: normal;
                                    color: $greyFooter;
                                    margin-bottom: 36px;
                                }
                                p {
                                    input {
                                        width: 100%;
                                        border: none;
                                        border-bottom: 1px solid $greyInputBorder;
                                        font-size: 16px;
                                        font-family: $omnes;
                                        font-weight: 300;
                                        color: $brown;
                                        padding-bottom: 10px;
                                        margin-bottom: 28px;
                                        &::placeholder {
                                            color: $brown;
                                            transition: font-size 0.3s;

                                        }
                                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &::-moz-placeholder { /* Firefox 19+ */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:-ms-input-placeholder { /* IE 10+ */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:-moz-placeholder { /* Firefox 18- */
                                            color: $brown;
                                            transition: font-size 0.3s;
                                        }
                                        &:focus {
                                            outline: none;
                                            &::placeholder {
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &::-moz-placeholder { /* Firefox 19+ */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &:-ms-input-placeholder { /* IE 10+ */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                            &:-moz-placeholder { /* Firefox 18- */
                                                font-size: 80%;
                                                transition: font-size 0.3s;
                                            }
                                        }
                                    }
                                }
                                .double-input {
                                    display: flex;
                                    justify-content: space-between;
                                    // align-items: flex-end;
                                    a {
                                        width: 45%;
                                        &:hover {
                                            text-decoration: none;
                                        }
                                        .select-field {
                                            position: relative;
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                display: block;
                                                width: 15px;
                                                height: 9px;
                                                background-image: url(../images/arrow-select.png);
                                                right: 10px;
                                                top: 5px;
                                            }
                                        }
                                        input {
                                            width: 100%;
                                            border: none;
                                            border-bottom: 1px solid #c7c7c7;
                                            font-size: 16px;
                                            font-family: "Omnes";
                                            font-weight: 300;
                                            color: #81694c;
                                            padding-bottom: 10px;
                                            margin-bottom: 28px;
                                            &:focus {
                                                outline: none !important;
                                            }
                                        }
                                        input {
                                            &::placeholder {
                                                color: $brown;
                                                transition: font-size 0.3s;
    
                                            }
                                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &::-moz-placeholder { /* Firefox 19+ */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &:-ms-input-placeholder { /* IE 10+ */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &:-moz-placeholder { /* Firefox 18- */
                                                color: $brown;
                                                transition: font-size 0.3s;
                                            }
                                            &:focus {
                                                outline: none;
                                                &::placeholder {
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &::-moz-placeholder { /* Firefox 19+ */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &:-ms-input-placeholder { /* IE 10+ */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                                &:-moz-placeholder { /* Firefox 18- */
                                                    font-size: 80%;
                                                    transition: font-size 0.3s;
                                                }
                                            }
                                        }
                                        input[type="date"]::-webkit-inner-spin-button,input[type="date"]::-webkit-calendar-picker-indicator {
                                            display: none;
                                            -webkit-appearance: none;
                                        }
                                    }
                                }
                            }
                            .check-area {
                                margin-top: 45px;
                                a {
                                    font-family: $omnes;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: $greyFooter;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                    input[type=checkbox] {
                                        display:none; /* Esconde os inputs */
                                        & + label:before {
                                            border: 3px solid $checkModal;
                                            content: "\00a0";
                                            display: inline-block;
                                            font: 16px/1em sans-serif;
                                            height: 16px;
                                            margin: 0 7px 0 0;
                                            padding: 0;
                                            vertical-align: top;
                                            width: 16px;
                                        }
                                        &:checked + label:before {
                                            background: $checkModalActive;
                                            text-align: center;
                                        }
                                        &:checked + label:after {
                                            font-weight: bold;
                                        }
                                    }
                                    label {
                                        display: flex;
                                        align-items: center;
                                        width: 120px;
                                        justify-content: center;
                                        .reg-link {
                                            margin-left: 2px;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                                legend {
                                    font-family: $omnes;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: $greyFooter;
                                    text-align: center;
                                }
                                .check-area-content {
                                    display: flex;
                                    justify-content: center;
                                    margin: 25px auto;
                                }
                            }
                        }
                    }
                }
                .modal-footer {
                    border-top: none;
                    padding: 0 40px 30px 40px;
                    button {
                        padding: 16px 56px;
                        border: 1px solid $brown;
                        font-family: $omnes;
                        font-size: 16px;
                        color: $brown;
                        transition: all 0.3s;
                        &:hover {
                            background-color: $brown;
                            color: $white;
                            opacity: 0.8;
                            transition: all 0.3s;
                        }
                    }
                    .btnCadastroModal2 {
                        padding: 16px 56px;
                        border: 1px solid $brown;
                        font-family: $omnes;
                        font-size: 16px;
                        color: $brown;
                        transition: all 0.3s;
                        &:hover {
                            background-color: $brown;
                            color: $white;
                            opacity: 0.8;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}
// FIM ALTERACAO DE CADASTRO

// NOVO BTN
.kopDefaultBtn {
    padding: 35px;
    border: 1px solid #81694c;
    background-color: #000;
    font-family: "Omnes";
    color: #81694c;
    transition: all 0.5s;
    &:hover {
        background-color: #81694c;
        color: #fff;
        transition: all 0.5s;
        opacity: 0.8;
        text-decoration: none;
    }
    @media(max-width: 800px) and (min-width: 500px) {
        padding: 35px 0;
    }
}
// FIM NOVO BTN