.intro-point {
    background-color: $greyMenuLogged;
    position: relative;
    .breadcrumbs-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 288px;
        padding: 0;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: calc(45px - 50%);
            background-image: url(../images/benefit-trace.png);
            width: 195px;
            height: 288px;
            @media(max-width: 500px) {
                display: none;
            }
        }
    }
    .breadcrumbs-text {
        text-transform: uppercase;
        font-family: $omnes;
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        color: $greyButtonSlider;
        margin-bottom: 20px;
    }
    .breadcrumbs-title {
        font-family: $trajan;
        font-size: 50px;
        color: $redSlider;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .breadcrumbs-info {
        font-family: $omnes;
        font-weight: 300;
        color: $greyButtonSlider;
        line-height: normal;
    }
    .gold-block {
        position: absolute;
        top: -20px;
        right: 55px;
        width: 328px;
        height: 190px;
        background-image: url(../images/gold-bright.png);
        background-repeat: no-repeat;
        z-index: 10;
        @media(max-width: 500px) {
            display: none;
        }
    }
}
.resume {
    .container {
       .resume-block-top {
            display: flex;
            align-items: center;
            padding: 35px 0;
       }
    }
    .resume-title-block {
        padding: 0;
    }
    .resume-title {
        font-family: $omnes;
        font-size: 18px;
        color: $greyButtonSlider;
        text-transform: uppercase;
        font-style: italic;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: $greyButtonSlider;
    }
    .resume-block-points {
        width: 100%;
        display: flex;
        margin-bottom: 35px;
        @media(max-width: 500px) {
            flex-wrap: wrap;
        }
        .block-point-item {
            display: flex;
            align-items: end;
            flex-direction: column;
            padding: 0;
            .block-point-top {
                margin-bottom: 12px;
                .block-point-title {
                    font-family: $omnes;
                    font-weight: 600;
                    color: $greyButtonSlider;
                }
            }
            .block-point-info {
                display: flex;
                justify-content: center;
                align-items: baseline;
                color: $greyButtonSlider;
                .points {
                    font-family: $trajan;
                    font-size: 36px;
                }
                .point-info {
                    font-family: $trajan;
                    font-size: 20px;
                }
            }
        }
    }
}
.point-resume {
    background-color: $greyPoint;
    .point-resume-top {
        display: flex;
        align-items: center;
        padding-top: 45px;
        .point-resume-top-text {
            padding: 0;
            .point-resume-title {
                font-family: $omnes;
                font-size: 18px;
                font-style: italic;
                text-transform: uppercase;
                color: $greyButtonSlider;
            }
        }
        .point-resume-line {
            .line {
                height: 1px;
                width: 100%;
                background-color: $greyButtonSlider;
            }
        }
    }
    .point-block {
        display: flex;
        justify-content: flex-end;
        margin-right: 8%;
        margin-bottom: 50px;
        .point-block-info {
            display: flex;
            justify-content: center;
            border-bottom: 3px solid $brown;
            margin-top: 30px;
            .point-block-info-title {
                font-family: $omnes;
                font-size: 16px;
                color: $brown;
                padding-bottom: 10px;
            }
        }
    }
    .point-infos-block {
        display: flex;
        padding-bottom: 80px;
        @media(max-width: 500px) {
            overflow: auto;
            margin-bottom: 30px;
            padding-bottom: 0px;
        }
        .point-info-sm {
            width: 90px;
            @media(max-width: 500px) {
                min-width: 90px;
            }
        }
        .point-info-md {
            width: 180px;
            @media(max-width: 500px) {
                min-width: 180px;
            }
        }
        .point-infos-block-item-title {
            font-family: $omnes;
            font-weight: 600;
            font-size: 16px;
            color: $greyButtonSlider;
            margin-bottom: 25px;
        }
        .point-infos-block-text {
            font-family: $omnes;
            color: $greyButtonSlider;
            &:not(:last-of-type){
                margin-bottom: 27px;
            }
        }
        .point-infos-block-item {
            @media(max-width: 500px) {
                margin-bottom: 30px;
                margin-right: 30px;
            }
            &:first-child{
                margin-right: 30px;
            }
            .point-infos-block-item-title {
                font-family: $omnes;
                font-weight: 600;
                font-size: 16px;
                color: $greyButtonSlider;
                margin-bottom: 25px;
            }
            .point-infos-block-text {
                font-family: $omnes;
                color: $greyButtonSlider;
                &:not(:last-of-type){
                    margin-bottom: 27px;
                }
            }
        }
    }
    .voucher-block {
        .line {
            height: 1px;
            background-color: $greyButtonSlider;
        }
        .voucher-block-top {
            display: flex;
            align-items: center;
            padding-bottom: 25px;
        }
        .voucher-block-content {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            @media(max-width: 500px) {
                overflow: auto;
            }
            .voucher-item-lg {
                width: 210px;
                @media(max-width: 500px) {
                    min-width: 210px;
                }
            }
            .voucher-item-sm {
                width: 90px;
                @media(max-width: 500px) {
                    min-width: 90px;
                }
            }
            .voucher-block-item {
                @media(max-width: 500px) {
                    &:not(:last-of-type) {
                        margin-right: 30px;
                    }
                }
                .voucher-block-title {
                    font-family: $omnes;
                    font-weight: 600;
                    color: $greyButtonSlider;
                    margin-bottom: 30px;
                }
                .voucher-block-text {
                    font-family: $omnes;
                    color: $greyButtonSlider;
                    &:not(:last-of-type) {
                        margin-bottom: 30px;
                    }
                }
            }
            .voucher-item-email {
                @media(max-width: 500px) {
                    min-width: 150px !important;
                }
                a {
                    &:first-of-type {
                        .voucher-block-text {
                            margin-bottom: 30px;
                            margin-top: 50px;
                        }
                    }
                    .voucher-block-text {
                        font-family: $omnes;
                        color: $brown;
                        text-decoration: underline;
                    }
                    &:hover {
                        .voucher-block-text {
                            color: $greyButtonSlider;
                        }
                    }
                }
            }
        }
        .voucher-btn-block {
            a {
                &:hover {
                    text-decoration: none;
                    .voucher-btn {
                        background-color: $brown;
                        opacity: .8;
                        color: $white;
                    }
                }
            }
            .voucher-btn {
                border: 1px solid $brown;
                padding: 20px 0;
                text-align: center;
                color: $brown;
            }
        }
    }
}
.tblExtrato {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-right: 65px;
    .point-infos-block-item-title {
        font-family: $omnes;
        font-weight: 600;
        font-size: 16px;
        color: $greyButtonSlider;
        margin-bottom: 25px;
    }
    .point-infos-block-text {
        font-family: $omnes;
        color: $greyButtonSlider;
        border: none;
        &:not(:last-of-type){
            margin-bottom: 27px;
        }
    }
    .point-info-sm {
        width: 90px;
        border: none;
        @media(max-width: 500px) {
            min-width: 90px;
        }
    }
    .point-info-md {
        width: 180px;
        border: none;
        @media(max-width: 500px) {
            min-width: 180px;
        }
    }
}
.point-resume + footer {
    border: none;
}