.dark-block {
    @media(min-width: 801px) {
        z-index: unset;
        .block-kopclub {
            z-index: 40;
        }
        nav {
            #navMenu {
                z-index: 30;
            }
        }
    }
}
// .banner-regulamento {
//     display: none;
// }
.banner-intro {
    position: relative;
    .gold-bright {
        top: -10px;
        right: 90px;
    }
    .banner-intro-trace {
        position: absolute;
        max-width: 292px;
        width: 100%;
        top: 90px;
        left: -50px;
        @media(max-width: 500px) {
            display: none;
        }
    }
    .slider-intro, .slick-track {
        height: 450px;
        @media(max-width: 500px) {
            height: 325px;
        }
    }
    .slider-intro {
        .slick-arrow {
            display: none !important;
        }
        .slider-intro-item:before {
            content: '';
            display: block;
            width: 100%;
            height: 450px;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
            background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            @media(max-width: 800px) {
                height: 100%;
            }
        }
        .slider-intro-item:nth-child(1) {
            // background-image: url(../images/kop-club-slide-1.jpg);
            background-image: url(../images/kop-club-slide-2.jpg);
            background-position: center;
            background-size: cover;
            height: 100%;
        }
        .slider-intro-item:nth-child(2) {
            background-image: url(../images/kop-club-slide-2.jpg);
            background-position: top;
            background-size: cover;
        }
        .slider-intro-item:nth-child(3) {
            background-image: url(../images/kop-club-slide-3.jpg);
            background-position: top;
            background-size: cover;
        }
        .slider-intro-item:nth-child(4) {
            background-image: url(../images/kop-club-slide-4.jpg);
            background-position: top;
            background-size: cover;
        }
        .slider-intro-item:nth-child(5) {
            background-image: url(../images/kop-club-slide-5.jpg);
            background-position: top;
            background-size: cover;
        }
        .slider-intro-item:nth-child(6) {
            background-image: url(../images/kop-club-slide-6.jpg);
            background-position: top;
            background-size: cover;
        }
    }
    .banner-intro-text {
        position: absolute;
        top: 0;
        padding: 0;
        // top: calc(50% - 100px);
        top: calc(50% - 50px);
        left: 60px;
        @media(min-width:1400px) {
            left: 160px;
        }
        @media(min-width: 1600px) {
            left: calc(50% - 26.5%);
            .titulo-banner-md {
                display: flex;
                flex-direction: column;
            }
        }
        @media(min-width: 2000px) and (max-width: 2499px) {
            left: 19%;
        }
        @media(min-width: 2500px) {
            left: 23%;
        }
        @media(max-width: 500px) {
            left: 0;
            text-align: center;
            top: calc(50% - 70px);
        }
        &:before {
            content: '';
            width: 292px;
            height: 358px;
            background-image: url(../images/register-trace.png);
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            left: -210px;
            top: -100px;
            @media(max-width: 800px) {
                display: none;
            }
        }
        h4 {
            font-family: $trajan;
            color: $redSlider;
            line-height: 60px;
        }
        .titulo-banner-md {
            font-size: 48px;
            @media(max-width: 500px) {
                font-size: 40px;
            }
        }
        .titulo-banner-lg {
            font-size: 60px;
            @media(max-width: 500px) {
                font-size: 52px;
            }
        }
    }
}
.slider-intro {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.rule-info {
    padding: 60px 0;
    .block-rule-info {
        margin-bottom: 30px;
        padding: 0;
        .rule-text-title {
            font-family: $trajan;
            font-size: 24px;
            color: $greyButtonSlider;
        }
        .rule-text-info {
            font-family: $omnes;
            font-weight: 300;
            font-size: 16px;
            color: $greyButtonSlider;
        }
        .rule-text-info:not(:last-of-type), .rule-text-info-list {
            margin-bottom: 25px;
        }
        .rule-text-info-list {
            li {
                line-height: 18px;
            }
        }
        .table-rule {
            display: flex;
            margin: 25px 0;
            .table-rule-item {
                max-width: 300px;
                width: 100%;
                font-family: $omnes;
                .table-rule-item-title {
                    margin-bottom: 25px;
                }
                .table-rule-item-title, .rule-text-info {
                    color: $greyButtonSlider;
                }
            }
        }
    }
}