$black: #000;
$dark-menu: #191919;
$brown: #81694c;
$brown-menu: #81684b;
$brownLight: rgb(146, 118, 84);
$brownLighter: rgb(163, 131, 93);
$greySlider: #7e7872;
$greyBenefit: #b2b2b2;
$browKop: #7f664a;
$brownModalBottom: #81684b;
$redSlider: #b13a35;
$redSliderLight: #dd443f;
$greyFooter: #808080;
$white: #fff;
$transparent: rgba(0,0,0,0);
$grey: #424242;
$greyBenefitLine: #1c1c1c;
$greyTopFooter: #1d1d1d;
$greyInputBorder: #c7c7c7;
$greyButtonSlider: #4d4d4d;
$greyPoint: #e5e5e5;
$greyMenuLogged: #e7e7e7;
$greyModalBg: #e9e9e9;
$closeModal: #b3b3b3;
$checkModal: #d3d3d3;
$checkModalActive: #82c8be;
$productTitle: #1a1a1a;